<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/member.css">
    <meta name="theme-color" content="#fad7dc" />
  </head>
  <body>
    <% if(member) { %>
      <a class="backButton" href="/members">
        <img class="backButtonIcon" src="/images/arrow-back.png" />
      </a>
      <form  class="memberWrapper" action="" method="post" id="myForm">
        <div id="infoWrapper" class="infoWrapper">
          <img class="avatarImg" src="<%= member.avatar %>" />
          <p class="username"><%=member.username%></p>
        </div>
        <div class="heartsArray">
        <% for(let i = 0; i < member.hearts; i++) { %>
          <button type="submit" class="imageButton heartButton tiltButton" formaction="/status/remove">
            <img class="heartImg" src="/images/pink-heart.png" />
          </button>
        <% } %>
        <button type="submit" class="imageButton heartButton tiltButton" formaction="/status/add">
          <img class="heartImg" src="/images/pink-hearts.png" />
        </button>
        </div>
        <button type="submit" class="imageButton deleteAllHeartsButton" formaction="/status/delete-all">
          <img class="heartImg" src="/images/heart-broken.png" />
        </button>
        <input type="hidden" name="id" value="<%= member._id %>" />
        <input type="hidden" name="hearts" value="<%= member.hearts %>" />
        <input type="hidden" name="route" value="<%=`/members/${member._id}`%>" />
      </form>
    <% } %>

    <form
      class="memberWrapper"
      name="save-member"
      action="/members/save-member"
      id="editModal"
      method="post"
      style="<%=member ? 'display:none;' : ''%>"
    >
      <img id="avatarImg" class="avatarImg" src="<%=member ? member.avatar : ''%>" />
      <div class="modalInputStack">
        <label class="customFileUpload">
          <input type="file" name="avatar" id="avatarInput" accept="image/png, image/jpeg" onchange="setImage(this)" />
          Välj bild
        </label>
        <input
          class="usernameInput"
          type="text"
          name="username"
          id="username"
          <% if(member) { %>
            value="<%=member.username %>"
          <% } else { %>
            placeholder="Namn" %>
          <% } %>
        />
        <input type="hidden" name="id" id="id" value="<%=member ? member._id : ''%>" />
        <button class="tiltButton imageButton" type="submit">
          <img class="saveImage" src="/images/cloud.png" />
        </button>
      </div>
      <button id="modalClose" class="tiltButton imageButton">
        <img class="closeButtonImg" src="/images/close.png" />
      </button>
      <button type="submit" class="tiltButton imageButton" formaction="/members/delete-member">
        <img class="deleteButtonImg" src="/images/delete.png" />
      </button>
    </form>

    <script>
      function setImage(input) {
        if (input.files && input.files[0]) {
          const img = document.getElementById("avatarImg");
          img.src = `/images/${input.files[0].name}`;
        }
      }
      function toggleModal() {
        const modal = document.getElementById("editModal");
        if (modal.style.display === "none") {
          modal.style.display = "flex";
        } else {
          modal.style.display = "none";
        }
       };
       const avatarInput = document.getElementById("avatarImg");
      const infoWrapper = document.getElementById("infoWrapper");
      const modalClose = document.getElementById("modalClose");
      avatarInput.onchange = () => setImage();
      infoWrapper.onclick = () => toggleModal();
      modalClose.onclick = () => toggleModal();
      </script>
  </body>
</html>
